## Models to use in the database
### these are the models that will be used for importing files into the database

In [3]:
from mongoengine import *
from ormWP import Adm1
from ormWP import Adm2
from ormWP import Adm3
import pandas as pd
from shapely.geometry import Point

## Database connection string
### you must change the user name, password and port as they are configured in your mongo database.

In [48]:
connect(host="mongodb://root:s3cr3t@localhost:27017/waterpoints?authSource=admin")
print('successful connection to the database')

successful connection to the database

## Database connection string
### you must change the user name, password and port as they are configured in your postgres database.

In [3]:
import psycopg2

conn = None
try:
    conn = psycopg2.connect('user=s3cr3t password=root dbname=s3cr3t host=localhost port=5432')
    print(conn)
    cur = conn.cursor()
    print('Conexión exitosa a la base de datos')
except Exception as ex:
    print('Ocurrió un error al conectarse a la base de datos:')
    print(str(ex))
""" finally:
    if conn is not None:
        conn.close() """

<connection object at 0x000001E36452A240; dsn: 'user=s3cr3t password=xxx dbname=s3cr3t host=localhost port=5432', closed: 0>
Conexión exitosa a la base de datos

' finally:\n    if conn is not None:\n        conn.close() '

## Select Waterpoints
### select all the waterpoints in ethiopia of the database.

In [4]:
sql="select name,gid,grid_code,x_coord,y_coord,wp_km2,uid,wshed_km2,country from locations where country='Ethiopia';"
cur.execute(sql)
print(f' retrived {cur.rowcount} rows')
results = cur.fetchall()


    # Crear un DataFrame con los resultados
df = pd.DataFrame(results, columns=['name', 'gid', 'grid_code', 'x_coord', 'y_coord', 'wp_km2', 'uid', 'wshed_km2', 'country'])

    # Imprimir el DataFrame
df

 retrived 32 rows

,name,gid,grid_code,x_coord,y_coord,wp_km2,uid,wshed_km2,country
0,ETH-29,76,22,38.44706,3.98137,0.001515,166,1.697000e-01,Ethiopia
1,ETH101,83,101,43.50405,9.38633,0.008540,173,3.330000e-02,Ethiopia
2,ETH104,85,104,45.69579,8.41652,0.194855,175,6.625800e+00,Ethiopia
3,ETH112,89,112,45.52456,7.32144,0.075060,179,2.727000e+00,Ethiopia
4,ETH116,91,116,43.48116,6.50264,0.003786,181,5.733000e+00,Ethiopia
5,ETH-40,64,35,38.08014,5.17343,1.524370,152,9.448160e+01,Ethiopia
6,ETH-42,75,37,41.50145,4.02363,0.000759,165,7.768690e+00,Ethiopia
7,ETH-50,63,46,39.29678,5.36265,0.000758,151,2.125840e-01,Ethiopia
8,ETH-9,80,52,39.08765,3.72236,0.003576,170,3.639740e-01,Ethiopia
9,ETH103,84,103,45.74781,8.20151,0.091806,174,1.753740e+01,Ethiopia
10,ETH-37,61,31,38.80473,5.54252,0.001512,149,1.610690e+00,Ethiopia
11,ETH-45,65,40,40.40842,5.10913,0.002976,154,3.355100e+00,Ethiopia
12,ETH-20,72,13,37.71490,4.47312,0.006652,162,8.453910e+00,Ethiopia
13,ETH-22,73,15,38.28162,4.16098,0.006655,163,1.054150e-01,Ethiopia
14,ETH-33,60,27,38.56443,5.59165,0.016879,148,8.647700e+00,Ethiopia
15,ETH-34,62,28,38.85323,5.52620,0.012100,150,4.583990e+00,Ethiopia
16,ETH-13,66,5,38.20190,5.00177,0.273245,156,2.893150e+06,Ethiopia
17,ETH-14,67,6,38.32138,4.98796,0.014559,157,9.945700e+00,Ethiopia
18,ETH-48,68,43,40.74658,4.87743,0.002567,158,5.062660e+00,Ethiopia
19,ETH-1,78,1,38.51164,3.78954,0.033866,168,3.396120e+01,Ethiopia
20,ETH-3,79,23,38.75086,3.74368,0.056570,169,3.961340e+01,Ethiopia
21,ETH105,86,105,45.38020,8.42901,0.379547,176,1.426860e+01,Ethiopia
22,ETH120,92,120,42.08313,5.27755,0.009018,182,2.928600e+00,Ethiopia
23,ETH-26,74,19,38.40104,4.14016,0.005684,164,4.142470e+01,Ethiopia
24,ETH-7,81,50,38.93897,3.67281,0.014123,171,1.206950e+02,Ethiopia
25,ETH110,88,110,45.28530,7.55092,0.088143,178,2.806200e+00,Ethiopia
26,ETH-30,71,24,38.42180,4.50729,0.006164,161,6.097800e-02,Ethiopia
27,ETH-5,82,45,38.84337,3.64086,0.050343,172,2.210150e+01,Ethiopia
28,ETH115,90,115,45.19792,7.27390,0.009476,180,6.588000e-01,Ethiopia
29,ETH-44,69,39,41.08365,4.76963,0.000759,159,1.328520e-01,Ethiopia
30,ETH-18,70,10,37.53454,4.71960,0.012866,160,7.087740e+01,Ethiopia
31,ETH-51,77,47,41.51043,3.96972,0.144803,167,8.811760e+00,Ethiopia

## Read csv file
### Read csv file with the active waterpoints.

In [5]:
#read th csv with actives waterpoints


# Lee el archivo CSV y crea un DataFrame
dataframe = pd.read_csv('D:\\ETL\\data\\w_shade.csv')

# Puedes imprimir el DataFrame para ver los datos
dataframe

       name      wsh_name
0   ETH-101    Abdi Farah
1    ETH-13          Beki
2    ETH-40         Burra
3     ETH-5   Dembi Qorba
4    ETH-29  Jilo Dokicha
5    ETH-26         Dimtu
6    ETH-20       Dingamo
7    ETH-22          Dire
8     ETH-7        Kitala
9    ETH-30     Kolobsisa
10   ETH-14   Mudi Sororo

## filter only actives waterpoints
### filter only the actives waterpoints using the name of the aterpoint.

In [6]:
#filter dataframe
df_filtered = df[df['name'].isin(dataframe['name'])]
df_filtered = df_filtered.merge(dataframe, on='name')
df_filtered

,name,gid,grid_code,x_coord,y_coord,wp_km2,uid,wshed_km2,country,wsh_name
0,ETH-29,76,22,38.44706,3.98137,0.001515,166,1.697000e-01,Ethiopia,Jilo Dokicha
1,ETH-40,64,35,38.08014,5.17343,1.524370,152,9.448160e+01,Ethiopia,Burra
2,ETH-20,72,13,37.71490,4.47312,0.006652,162,8.453910e+00,Ethiopia,Dingamo
3,ETH-22,73,15,38.28162,4.16098,0.006655,163,1.054150e-01,Ethiopia,Dire
4,ETH-13,66,5,38.20190,5.00177,0.273245,156,2.893150e+06,Ethiopia,Beki
5,ETH-14,67,6,38.32138,4.98796,0.014559,157,9.945700e+00,Ethiopia,Mudi Sororo
6,ETH-26,74,19,38.40104,4.14016,0.005684,164,4.142470e+01,Ethiopia,Dimtu
7,ETH-7,81,50,38.93897,3.67281,0.014123,171,1.206950e+02,Ethiopia,Kitala
8,ETH-30,71,24,38.42180,4.50729,0.006164,161,6.097800e-02,Ethiopia,Kolobsisa
9,ETH-5,82,45,38.84337,3.64086,0.050343,172,2.210150e+01,Ethiopia,Dembi Qorba

## reading the file
### read the files.

In [7]:
import os
import pandas as pd
import geopandas as gpd
from mongoengine import  *
root='D:\ETL'
data=os.path.join(root,'data')
cols_zone=['ext_id','name']
cols_woreda=['ext_id','name','adm1']
cols_kebele=['ext_id','name','adm3','aclimate_id']
print('okay')

okay

In [8]:
file_name='admin_levels_ws_id'
file=os.path.join(data,file_name,file_name +'.shp')
print(file)
gdf=gpd.read_file(file)
gdf

D:\ETL\data\admin_levels_ws_id\admin_levels_ws_id.shp

,id_adm1,id_adm2,id_adm3,id_adm4,name_adm1,name_adm2,name_adm3,name_adm4,ws_id,geometry
0,1,101,10101,1010103,Tigray,North Western Tigray,Tahitay Adiyabo,Adi Hageray Town,NaN,"POLYGON ((37.96248 14.46103, 37.96450 14.46205..."
1,1,101,10102,1010202,Tigray,North Western Tigray,Laelay Adiabo,Adi Daero Town,NaN,"POLYGON ((38.15660 14.28661, 38.15651 14.28778..."
2,1,101,10103,1010301,Tigray,North Western Tigray,Medebay Zana,Selekileha Town,NaN,"POLYGON ((38.46703 14.11566, 38.46753 14.11590..."
3,1,101,10103,1010303,Tigray,North Western Tigray,Medebay Zana,Zana Town,NaN,"POLYGON ((38.45156 13.95436, 38.45254 13.95498..."
4,1,101,10105,1010502,Tigray,North Western Tigray,Asegede Tsimbila,Endaba Guna Town,NaN,"POLYGON ((38.18906 13.91707, 38.18852 13.91646..."
...,...,...,...,...,...,...,...,...,...,...
14973,13,1301,130101,130101013,Harari,Harer,Hundene,Awuberke,NaN,"POLYGON ((42.11117 9.24471, 42.11103 9.24471, ..."
14974,13,1301,130101,130101014,Harari,Harer,Hundene,Sofi,NaN,"POLYGON ((42.15208 9.29903, 42.15230 9.29890, ..."
14975,13,1301,130101,130101015,Harari,Harer,Hundene,Harewa,NaN,"POLYGON ((42.16921 9.27176, 42.16925 9.27302, ..."
14976,13,1301,130101,130101016,Harari,Harer,Hundene,KIle,NaN,"POLYGON ((42.24737 9.24167, 42.24750 9.24103, ..."
14977,13,1301,130101,130101017,Harari,Harer,Hundene,Burka,NaN,"POLYGON ((42.20157 9.23889, 42.20058 9.23844, ..."

In [9]:
#ycoord laitude, xcood longitude
adminleves = gdf.to_crs("EPSG:4326")
adminleves = adminleves[["id_adm1","id_adm2","id_adm3","id_adm4","name_adm1","name_adm2","name_adm3","name_adm4","ws_id", "geometry"]]

In [10]:
points = [Point(xy) for xy in zip(df_filtered["x_coord"], df_filtered["y_coord"])]
print(points)

[<POINT (38.447 3.981)>, <POINT (38.08 5.173)>, <POINT (37.715 4.473)>, <POINT (38.282 4.161)>, <POINT (38.202 5.002)>, <POINT (38.321 4.988)>, <POINT (38.401 4.14)>, <POINT (38.939 3.673)>, <POINT (38.422 4.507)>, <POINT (38.843 3.641)>]

## Dataframe with points

In [11]:
total_gdf = gpd.GeoDataFrame(df_filtered, geometry=points, crs="EPSG:4326")
proof=Point(38.318161,12.513699)
proof2=(Point(36.294721,9.811474))
proof3=Point(36.083094,11.060541)
proof4=Point(36.686477,8.316135)
proof5=Point(36.608792,11.331677)
proof6=Point(37.836216,10.630065)
proof7=Point(36.896502,9.886837)
proof8=Point(35.108797,9.286759)
proof9=Point(37.942499,11.382111)
proof10=Point(35.907559,8.595833)

total_gdf['geometry'][0]=proof
total_gdf['geometry'][1]=proof2
total_gdf['geometry'][2]=proof3
total_gdf['geometry'][3]=proof4
total_gdf['geometry'][4]=proof5
total_gdf['geometry'][5]=proof6
total_gdf['geometry'][6]=proof7
total_gdf['geometry'][7]=proof8
total_gdf['geometry'][8]=proof9
total_gdf['geometry'][9]=proof10

total_gdf

,name,gid,grid_code,x_coord,y_coord,wp_km2,uid,wshed_km2,country,wsh_name,geometry
0,ETH-29,76,22,38.44706,3.98137,0.001515,166,1.697000e-01,Ethiopia,Jilo Dokicha,POINT (38.31816 12.51370)
1,ETH-40,64,35,38.08014,5.17343,1.524370,152,9.448160e+01,Ethiopia,Burra,POINT (36.29472 9.81147)
2,ETH-20,72,13,37.71490,4.47312,0.006652,162,8.453910e+00,Ethiopia,Dingamo,POINT (36.08309 11.06054)
3,ETH-22,73,15,38.28162,4.16098,0.006655,163,1.054150e-01,Ethiopia,Dire,POINT (36.68648 8.31613)
4,ETH-13,66,5,38.20190,5.00177,0.273245,156,2.893150e+06,Ethiopia,Beki,POINT (36.60879 11.33168)
5,ETH-14,67,6,38.32138,4.98796,0.014559,157,9.945700e+00,Ethiopia,Mudi Sororo,POINT (37.83622 10.63007)
6,ETH-26,74,19,38.40104,4.14016,0.005684,164,4.142470e+01,Ethiopia,Dimtu,POINT (36.89650 9.88684)
7,ETH-7,81,50,38.93897,3.67281,0.014123,171,1.206950e+02,Ethiopia,Kitala,POINT (35.10880 9.28676)
8,ETH-30,71,24,38.42180,4.50729,0.006164,161,6.097800e-02,Ethiopia,Kolobsisa,POINT (37.94250 11.38211)
9,ETH-5,82,45,38.84337,3.64086,0.050343,172,2.210150e+01,Ethiopia,Dembi Qorba,POINT (35.90756 8.59583)

In [14]:
result = gpd.sjoin(total_gdf, adminleves, how="left", predicate="within")


proof11='hola soy nuevo'
result['name_adm2'][0] = proof11
result

C:\Users\cnasayo\AppData\Local\Temp\ipykernel_23984\3043095154.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['name_adm2'][0] = proof11

,name,gid,grid_code,x_coord,y_coord,wp_km2,uid,wshed_km2,country,wsh_name,...,index_right,id_adm1,id_adm2,id_adm3,id_adm4,name_adm1,name_adm2,name_adm3,name_adm4,ws_id
0,ETH-29,76,22,38.44706,3.98137,0.001515,166,1.697000e-01,Ethiopia,Jilo Dokicha,...,1557,3,301,30117,30117005,Amhara,hola soy nuevo,Misrak Belesa,Tilli,NaN
1,ETH-40,64,35,38.08014,5.17343,1.524370,152,9.448160e+01,Ethiopia,Burra,...,5054,4,402,40204,40204015,Oromiya,East Wellega,Limu,Senibo Gadisa,NaN
2,ETH-20,72,13,37.71490,4.47312,0.006652,162,8.453910e+00,Ethiopia,Dingamo,...,10640,6,602,60201,60201015,Benishangul Gumuz,Metekel,Dangur,Chidaniguya,NaN
3,ETH-22,73,15,38.28162,4.16098,0.006655,163,1.054150e-01,Ethiopia,Dire,...,5437,4,403,40307,40307016,Oromiya,Ilu Aba Bora,Boricha,Mreto,NaN
4,ETH-13,66,5,38.20190,5.00177,0.273245,156,2.893150e+06,Ethiopia,Beki,...,4032,3,309,30906,30906014,Amhara,Awi,Jawi,Webo Mariyam,NaN
5,ETH-14,67,6,38.32138,4.98796,0.014559,157,9.945700e+00,Ethiopia,Mudi Sororo,...,3366,3,306,30616,30616006,Amhara,East Gojjam,Senan,Dangule,NaN
6,ETH-26,74,19,38.40104,4.14016,0.005684,164,4.142470e+01,Ethiopia,Dimtu,...,5025,4,402,40203,40203014,Oromiya,East Wellega,Gida Keremu,Gudina Jerenga,NaN
7,ETH-7,81,50,38.93897,3.67281,0.014123,171,1.206950e+02,Ethiopia,Kitala,...,4686,4,401,40107,40107002,Oromiya,West Wellega,Guliso,BEDES DILA,NaN
8,ETH-30,71,24,38.42180,4.50729,0.006164,161,6.097800e-02,Ethiopia,Kolobsisa,...,1909,3,302,30211,30211013,Amhara,South Gonder,Mirab Este,Yedidi Gimenge,NaN
9,ETH-5,82,45,38.84337,3.64086,0.050343,172,2.210150e+01,Ethiopia,Dembi Qorba,...,5312,4,403,40302,40302010,Oromiya,Ilu Aba Bora,Algesachi,Sirdosach,NaN

In [1]:
from datetime import datetime
cols=['id_adm2','name_adm2']
df_zone=result[cols].drop_duplicates()
print(df_zone.columns)
df_zone.columns = cols_zone
print('Dimension',df_zone.shape)
for index, row in df_zone.iterrows():
    ext_id = str(row['ext_id'])
    if not Adm1.objects(ext_id=ext_id):
        print('importing', row['name'], ext_id)
        traced_list = [
            {"created": datetime.now(), "updated": datetime.now(), "enabled": True}
        ]
        adm1 = Adm1(
            name=row['name'],
            ext_id=ext_id,
            traced=traced_list
        )
        adm1.save()
    else:
        print('not imported', row['name'], ext_id)

NameError: name 'result' is not defined

In [77]:
cols=['id_adm3','name_adm3','id_adm2']
df_woreda=result[cols].drop_duplicates()

df_woreda.columns=cols_woreda
print(df_woreda)
print(cols_woreda)
print('Dimension',df_woreda.shape)
for index, row in df_woreda.iterrows():

    if not Adm2.objects(ext_id=str(row['ext_id'])):
        traced_list = [
            {"created": datetime.now(), "updated": datetime.now(), "enabled": True}
        ]
        print('importing',row['name'],row['ext_id'])
        adm1=Adm1.objects.get(ext_id=str(row['adm1']))
        adm2=Adm2(name=row['name'],ext_id=str(row['ext_id']),adm1=adm1,traced=traced_list)
        adm2.save()
    else:
        print('not imported',row['name'],row['ext_id'])

   ext_id           name  adm1
0   30117  Misrak Belesa   301
1   40204           Limu   402
2   60201         Dangur   602
3   40307        Boricha   403
4   30906           Jawi   309
5   30616          Senan   306
6   40203    Gida Keremu   402
7   40107         Guliso   401
8   30211     Mirab Este   302
9   40302      Algesachi   403
['ext_id', 'name', 'adm1']
Dimension (10, 3)
importing Misrak Belesa 30117
importing Limu 40204
importing Dangur 60201
importing Boricha 40307
importing Jawi 30906
importing Senan 30616
importing Gida Keremu 40203
importing Guliso 40107
importing Mirab Este 30211
importing Algesachi 40302

In [78]:
cols=['id_adm4','name_adm4','id_adm3','ws_id']
df_kebele=result[cols].drop_duplicates()
df_kebele.columns=cols_kebele
print(cols_kebele)
print(df_kebele)
print('dimension',df_kebele.shape)
for index, row in df_kebele.iterrows():
    if not Adm3.objects(ext_id=str(row['ext_id'])):
        traced_list = [
            {"created": datetime.now(), "updated": datetime.now(), "enabled": True}
        ]
        print('importing',row['name'],row['ext_id'],row['adm3'])
        adm2=Adm2.objects.get(ext_id=str(row['adm3']))
        if row['name'] is not None:
            adm3=Adm3(name=str(row['name']),ext_id=str(row['ext_id']),adm2=adm2,traced=traced_list,aclimate_id=str(row['aclimate_id']))
            adm3.save()
else:
    print('not imported',row['name'],row['ext_id'],row['adm3'])

['ext_id', 'name', 'adm3', 'aclimate_id']
     ext_id            name   adm3 aclimate_id
0  30117005           Tilli  30117         NaN
1  40204015   Senibo Gadisa  40204         NaN
2  60201015     Chidaniguya  60201         NaN
3  40307016           Mreto  40307         NaN
4  30906014    Webo Mariyam  30906         NaN
5  30616006         Dangule  30616         NaN
6  40203014  Gudina Jerenga  40203         NaN
7  40107002      BEDES DILA  40107         NaN
8  30211013  Yedidi Gimenge  30211         NaN
9  40302010       Sirdosach  40302         NaN
dimension (10, 4)
importing Tilli 30117005 30117
importing Senibo Gadisa 40204015 40204
importing Chidaniguya 60201015 60201
importing Mreto 40307016 40307
importing Webo Mariyam 30906014 30906
importing Dangule 30616006 30616
importing Gudina Jerenga 40203014 40203
importing BEDES DILA 40107002 40107
importing Yedidi Gimenge 30211013 30211
importing Sirdosach 40302010 40302
not imported Sirdosach 40302010 40302

In [61]:
hola=pd.read_csv('C:\\Users\\cnasayo\\Downloads\\burra_recovered.csv')
new_df = pd.DataFrame(hola['val'].values, columns=['val'], index=hola['col'])
new_df
new_df_transposed = new_df.transpose()

# Otra opción, usando .T (la transpuesta)
new_df_transposed = new_df.T

new_df_transposed

val    2023-03-04
Name: today, dtype: object

In [54]:
data = {
    'col': ['uuid', 'today', 'yes_no1', 'select_region', 'zone', 'district', 'kebele', 'cluster', 'village'],
    'val': ['fd8b348d3507404596ff4198040ab45b', '2023-03-04', 'consent_yes', 'oromia', 'Borana', 'Elwayyee', 'Dedertu', 'Bura gulanta', 'Bura']
}

df = pd.DataFrame(data)
new_df = pd.DataFrame(df['val'].values, columns=['val'], index=df['col'])
new_df
for index, row in new_df.iterrows():
    col_name = index
    value = row['val']
    print(f'{col_name}: {value}')

uuid: fd8b348d3507404596ff4198040ab45b
today: 2023-03-04
yes_no1: consent_yes
select_region: oromia
zone: Borana
district: Elwayyee
kebele: Dedertu
cluster: Bura gulanta
village: Bura